*{
  box-sizing: border-box;
  margin: auto 0px;
}

body{
  font-size: 15pt;
  text-align: center;
}

header{
  min-height: 50px;
}

main{
  min-height: calc(100vh - 100px);
  background-color: #dddddd;
}

footer{
  height: 50px;
  line-height: 50px;
}

header, footer{
  background-color: gray;
}

header > nav,
main > section,
footer > div{
  display: inline-block;
  max-width: 1200px;
  width: 100%;
}

main > section{
  padding: 5px;
}

.menu-items{
  padding: 0px;
  font-size: 0px;
  text-align: left;
}

.menu-item{
  display: inline-block;
}

.menu-item > a{
  display: inline-block;
  padding: 0px 15px;
  line-height: 50px;
  height: 50px;
  border: solid 1px black;
  font-size: 20pt;
  text-decoration: none;
  color: black;
}

.menu-item > a:hover,
.manu-item > a.active{
  color: white;
}

.post{
  margin: 30px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;
  border: solid 1px gray;
}

.article-item .title,
.post .title{
  display: inline-block;
  width: 100%;
  background-color: gray;
  font-style: italic;
  font-size: 1.5rem;
  padding: 10px;
}

.post-form{
  display: inline-block;
  width: 80%;
}

.post-form select,
.post-form input,
.post-form textarea{
  width: 100%;
  padding: 10px;
  border: solid 1px black;
  border-radius: 4px;
}

.post-update{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  text-decoration: none;
  color: white;
}

.post:hover .title{
  background-color: white;
}

.comment,
.album{
  border: solid 1px black;
  padding: 5px;
  margin: 5px auto;
}

.comment:hover,
.album:hover{
  background-color: white;
}

.comment{
  text-align: left;
  font-size: 0.75em;
}

.pager-items{
  display: block;
  padding: 0px;
}

.pager-item{
  display: inline-block;
}

.pager-item > a,
.pager-item:not([data-pager-target]):after{
  display: block;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  padding: auto 5px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
}

.pager-item:not([data-pager-target]):after{
  content: '...';
  box-sizing: border-box;
}

.pager-item.active > a,
.pager-item:hover > a{
  background-color: white;
}

#articles > div{
  vertical-align: top;
}

#articles > div:nth-of-type(1){
  width: 20%;
  float: left;
}

#articles > div:nth-of-type(2){
  width: 70%;
  float: right;
}

#articles::after{
  display: block;
  content: '';
  clear: both;
}

.articles-menu .menu-item,
.articles-menu .menu-item > a{
  width: 100%;
}

.article-item{
  margin: 5px auto;
  border: solid 1px gray;
}

.photo{
  position: relative;
  display: inline-block;
  border: solid 1px gray;
  margin: 5px;
}

.photo .img{
  height: 150px;
  width: 150px;
}

.photo .title{
  font-size: 0.75em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: gray;
}

[data-hidden='true']{
  display: none;
}